# Just some stuff
cmd/sgpdb/static/bower_components
cmd/sgpdb/static/pages
cmd/sgpdb/static/index.html
cmd/sgpdb/cert
cmd/sgpdb/access_log
cmd/sgpdb/access.log
cmd/sgpdb/static/report.html
cmd/sgpdb/sgpdb
cmd/sgpdb/templates/plugins/*.html
cmd/sgpdb/soundboard
cmd/sgpdb/shutdown_logs
cmd/sgpdb/safebrowsing_db
cmd/sgpdb/static/video/*

cmd/capturepanics/capturepanics
cmd/shardorchestrator/shardorchestrator

# We don't want filthy pre-configured config files here ! >:O
# The graw agent file
*.agent
*.exe
cmd/shardorchestrator/capturepanics
__debug_bin*
app.env
.scannerwork
.DS_Store
google-creds.json
