# Just some stuff
cmd/syzygy/static/bower_components
cmd/syzygy/static/pages
cmd/syzygy/static/index.html
cmd/syzygy/cert
cmd/syzygy/access_log
cmd/syzygy/access.log
cmd/syzygy/static/report.html
cmd/syzygy/syzygy
cmd/syzygy/templates/plugins/*.html
cmd/syzygy/soundboard
cmd/syzygy/shutdown_logs
cmd/syzygy/safebrowsing_db
cmd/syzygy/static/video/*

cmd/capturepanics/capturepanics
cmd/shardorchestrator/shardorchestrator

# We don't want filthy pre-configured config files here ! >:O
# The graw agent file
*.agent
*.exe
cmd/shardorchestrator/capturepanics
__debug_bin*
app.env
.scannerwork
.DS_Store
google-creds.json
